body {
  width: 1024px;
  text-align: center;
}


.container {
    width: 100%;
    background-color: #ffcc99;
    margin: auto;
}

.first {
    width: 30%;
    float: left;
    background-color: blue;
}

.second {
    width: 70%;
    float: left;
    background-color: green;
}

.clear {
    clear: both;
}

.name-job {

}
